* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #787878; }

ul,
li {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  width: 1170px;
  margin: auto; }

.illus__img {
  width: 100%;
  height: 670px;
  object-fit: cover; }

.navigation {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0); }

.nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 38px; }

.logo {
  cursor: pointer; }
  .logo__link {
    display: block; }
  .logo__img {
    display: block; }

.menu {
  display: flex; }
  .menu__item {
    font-family: "Montserrat";
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    font-weight: 600; }
    .menu__item:first-child {
      padding-left: 0; }
    .menu__item:last-child {
      padding-right: 0; }
    .menu__item:hover .dropdown {
      display: block; }
  .menu__link {
    padding: 1px 15px;
    color: #000;
    display: block; }
    .menu__link:hover {
      color: #10c9c3; }
    .menu__link.active {
      color: #10c9c3; }
  .menu .dropdown {
    display: none;
    position: absolute;
    z-index: 1; }
    .menu .dropdown__link {
      color: #000;
      padding: 10px 20px;
      background: #a6c9be;
      display: block; }
      .menu .dropdown__link:hover {
        background: #7ca6af; }

.desc-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 230px; }

.desc {
  width: 505px;
  position: absolute;
  right: 0; }
  .desc__title {
    font-family: "Montserrat";
    font-size: 38px;
    line-height: 48px;
    font-weight: 900;
    color: #1d1d1d; }
  .desc__content {
    font-size: 18px;
    line-height: 28px;
    color: #787878;
    padding: 30px 0; }
  .desc__link {
    font-family: "Montserrat";
    font-size: 12px;
    color: #fff;
    font-weight: 900;
    background: #10c9c3;
    padding: 15px 51px;
    display: inline-block;
    text-transform: uppercase; }

.section__title {
  color: #191919;
  font-size: 30px;
  text-transform: capitalize; }

.about {
  width: 625px;
  background: #fff;
  padding: 95px 0;
  text-align: center; }
  .about__desc {
    padding: 32px 0; }

.skills {
  position: relative; }
  .skills__illus__img {
    width: 100%;
    height: 570px;
    object-fit: cover;
    display: block; }
  .skills__content {
    width: 500px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
  .skills .bars__container {
    width: 100%;
    background: #d8d8d8; }
  .skills .bars__content {
    padding: 2px;
    background: #10c9c3; }
  .skills .bars__item {
    padding-top: 30px; }
  .skills .bars__title {
    font-size: 12px;
    line-height: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 10px; }
  .skills .bars__span {
    padding-left: 10px; }
  .skills .bars__ui {
    width: 75%; }
  .skills .bars__web {
    width: 90%; }
  .skills .bars__mar {
    width: 65%; }

.achievements {
  background: #10c9c3;
  padding: 90px 0; }
  .achievements .list {
    display: flex;
    justify-content: space-between; }
  .achievements .item {
    display: flex;
    align-items: center; }
    .achievements .item__content {
      color: #fff;
      font-family: "Montserrat";
      font-weight: 600;
      padding-left: 20px;
      letter-spacing: 1px; }
    .achievements .item__span {
      font-size: 18px; }
    .achievements .item__title {
      font-size: 12px;
      text-transform: uppercase; }

.work__list {
  display: flex;
  flex-wrap: wrap; }

.work .item {
  width: 25%;
  position: relative; }
  .work .item:hover .item__hover {
    display: block; }
  .work .item__img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: block; }
  .work .item__hover {
    position: absolute;
    top: 0;
    display: flex;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    transition: 0.3s ease-in-out; }
    .work .item__hover__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.work__more {
  color: #8e8e8e;
  font-size: 12px;
  padding: 38px 0;
  background: #f5f5f5;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s ease-in-out; }
  .work__more:hover {
    background: #10c9c3;
    color: #000; }

.process {
  padding: 90px 0; }
  .process__header {
    text-align: center;
    width: 500px;
    margin: auto; }
  .process__desc {
    padding: 35px 0 55px 0; }
  .process__video {
    position: relative;
    width: 100%; }
    .process__video:hover .pause {
      display: block; }
    .process__video .control {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10; }
    .process__video .btn-video {
      cursor: pointer;
      transition: 0.3s ease-in-out; }
    .process__video .arrow {
      width: 85px;
      height: 85px;
      background: #10c9c3;
      border-radius: 100%;
      border: none;
      outline: none;
      position: relative;
      display: block; }
      .process__video .arrow::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #fff; }
    .process__video .pause {
      width: 85px;
      height: 85px;
      background: #10c9c3;
      border-radius: 100%;
      border: none;
      outline: none;
      position: relative;
      display: none; }
      .process__video .pause::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 22px;
        border-right: 5px solid #fff;
        border-left: 5px solid #fff; }
    .process__video #video {
      width: 100%; }

.services {
  background: #f5f5f5; }
  .services .list {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0; }
  .services .item {
    width: 25%;
    padding: 25px 20px;
    text-align: center; }
    .services .item__title {
      font-size: 12px;
      font-weight: 600;
      color: #191919;
      text-transform: uppercase; }
    .services .item__desc {
      font-family: "Nunito Sans";
      font-size: 16px; }

.testimonials {
  background: #10c9c3; }
  .testimonials .flexslider {
    width: 820px;
    margin: auto;
    padding: 170px 0 55px; }
    .testimonials .flexslider .flex-control-paging {
      display: flex;
      align-items: center;
      justify-content: center; }
      .testimonials .flexslider .flex-control-paging li {
        margin: 0 6px; }
        .testimonials .flexslider .flex-control-paging li a {
          width: 6px;
          height: 6px;
          border-radius: 20px;
          background: #b0e8e6;
          display: block;
          text-indent: -9999px; }
          .testimonials .flexslider .flex-control-paging li a.flex-active {
            width: 10px;
            height: 10px;
            background: #fff; }
  .testimonials .item {
    color: #fff;
    font-family: Montserrat;
    text-align: center;
    padding-bottom: 105px;
    line-height: 36px; }
    .testimonials .item__quote {
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 25px;
      display: block; }
    .testimonials .item__author {
      text-transform: uppercase;
      font-size: 12px; }

.clients {
  padding: 60px 0;
  background: #fff; }
  .clients .list {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.mess {
  background: #f5f5f5;
  padding: 95px 0; }
  .mess .mess-container {
    width: 670px;
    margin: auto;
    text-align: center; }
  .mess__header {
    width: 540px;
    margin: auto; }
  .mess__title {
    font-size: 30px;
    font-family: Montserrat;
    color: #1d1d1d;
    font-weight: 600; }
  .mess__desc {
    padding: 30px 0; }
  .mess .form__info {
    display: flex;
    justify-content: space-between; }
    .mess .form__info .form__input {
      width: 320px; }
  .mess .form input {
    height: 48px; }
  .mess .form input, .mess .form textarea {
    border: none;
    margin-bottom: 30px;
    padding: 15px 20px;
    width: 100%;
    outline: none;
    resize: none; }
    .mess .form input::placeholder, .mess .form textarea::placeholder {
      font-size: 15px; }
  .mess .form__text {
    height: 170px; }
  .mess .form__btn {
    font-size: 12px;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    background: #10c9c3;
    color: #fff;
    padding: 20px 35px;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px; }
